body {
  font-family: Menlo, Consolas, monospace;
}

h1 {
  font-size: 1.375rem;
  margin: 0 1rem;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 1rem 0.25rem 1rem;
}

h3 {
  font-size: 1.125rem;
  margin: 0.5rem 0 0 0;
}

h4 {
  text-decoration: underline;
  margin: 0.5rem 0 0 0;
}

a {
  text-decoration: none;
}

img,
td,
th {
  padding: 0.125rem 1rem;
}

img {
  width: 10rem;
}

td {
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: left;
  white-space: nowrap;
}

.filters {
  display: flex;
  padding: 0.5rem 1rem 1rem 1rem;

  div {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
}

.table td {
  max-width: none;
  white-space: wrap;
}

.max-w-12 {
  max-width: 12rem;
}

.text-right {
  text-align: right;
}
