<!doctype html>
<html>
  <head>
    <title>Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
